<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Dutch Treat: @ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <h1>Welcome to Dutch Treat</h1>
        <menu>
            <ul>
                <li><a asp-controller="App" asp-action="Index">Home</a></li>
                <li><a asp-controller="App" asp-action="Contact">Contact Us</a></li>
                <li><a asp-controller="App" asp-action="About">About Us</a></li>
            </ul>
        </menu>
    </header>
    <section>
        <h1>@ViewBag.Title</h1>
        @RenderBody()
    </section>
    <footer>Copyright 2017 Dutch Treat LLC</footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/index.js"></script>
</body>
</html>
